<% provide(:title, @user.name) %>
<div class="center-block">
  <section class="user_info">
    <h1>
      <%= @user.name %>
    </h1>
  </section>
  <% if @user.sequences.any? %>
    <ol class="sequences">
      <%= render @sequences %>
    </ol>
  <% end %>
  <section class="sequence_form">
    <%= render 'shared/sequence_form' %>
  </section>
  <%= render 'follow_form' if logged_in? %>
</div>