<% provide(:title, current_user.name) %>
<div class="center-block clearfix">
  <%= link_to new_sequence_path do %>
    <div class="sequences_sequence-container">
      <div class="sequences_new-sequence">New Sequence</div>
    </div>
  <% end %>
  <% @sequences.each do |sequence| %>
    <% unless sequence.pictures.empty? %>
      <div class="sequences_sequence-container">
        <div class="sequences_existing-sequence">
          <%= link_to sequence do %>
            <%= image_tag sequence.pictures.last.image_url(:tiny) %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>