<%= form_for(@picture, html: { class:'picture-uploader', multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span>
    <%= hidden_field_tag :sequence_id, sequence_id %>
    <%= f.file_field :image, class: 'hidden', accept: 'image/jpeg,image/gif,image/png' %>
    <label class="button" for="picture_image">Add Picture</label>
  </span>
<% end %>