.sequence {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.pictures {
  position: relative;
}

.picture {
  width: 500px;
  position: absolute;
  left: 0px;

  &.picture-first {
    position: inherit;
  }
}

