.sequences_sequence-container {
  display: inline-block;
  float: left;
  padding: 1rem;
}

.sequences_empty-sequence {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  background-color: lightgrey;
}

.sequences_sequence-with-pictures {
  width: 200px;
  height: 200px;
}
