.sequences_new-sequence {
  display: inline-block;
  float: left;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  background-color: lightgrey;
}

.sequences_existing-sequence {
  display: inline-block;
  float: left;
  width: 200px;
  height: 200px;
}
