.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 5.2rem;
}

section.container {
  max-width: 80rem;
  margin-top: 2.5rem;
}

@import 'navigation';
@import 'sequence';
@import 'slider';
@import 'sequences';
@import 'footer';

#cropbox {
  max-width: 100%;
}