<footer class="footer">
  <small>
    <a href="https://samepiceveryday.herokuapp.com/">Picaday</a> contains the blood, sweat,<br/>
    and tears of <a href="http://adamwatters.nyc/">Adam Watters</a>
  </small>
</footer>