<div class="center-block">
  <section class="picture_form">
    <%= render partial: 'shared/picture_form', locals: {sequence_id: @sequence.id} %>
  </section>
  <% unless @pictures.count === 0 %>
    <h3>Pictures (<%= @pictures.count %>)</h3>
    <ol class="sequences">
      <%= render @pictures.select {|picture| picture.valid?} %>
    </ol>
  <% end %>
</div>