<div class="center-block">
  <section class="picture_form">
    <%= render partial: 'shared/picture_form', locals: {sequence_id: @sequence.id} %>
  </section>
  <%= link_to "delete sequence", 
      @sequence, 
      method: :delete,
      class: 'button',
      data: { confirm: "Are you sure you want to delete this sequence?" } %>
  <% unless @pictures.count === 0 %>
    <div class="sequences">
      <%= render @pictures.select {|picture| picture.valid?} %>
    </div>
  <% end %>
</div>